@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;1,600&family=Poppins:wght@400;500;600;700;800&display=swap');

$fonts : 'Montserrat',
sans-serif;
$color-primary :#e5353478;
$color-secundary :#545478;
$bg : #f9fdfe;